<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淘宠惠一站式服务中心百度百科</title>
	<link rel="stylesheet" href="/static/css/encyclopedias.css"/>
</head>
<body>
	<h2>淘宠惠一站式服务中心百度百科</h2>
	<div>
		<div class="logo">
			<img src="static/images/marketLogo.jpg"  />
		</div>
		<div class="logoExplain">
			<p>淘宠惠是中国较大的通过现代网络技术整合线上及线下宠物行业的一站式服务中心品牌，创建于2019年，公司实行合伙人制度。淘宠惠与正规养殖户合作，搭建正规宠物交易平台，让每一位爱宠人士都能享受到贴心的售后服务，让每一位商家都能获得更多利润。</p>
			<p>中文名：淘宠惠</p>
			<p>所属行业：宠物行业</p>
		</div>
	</div>
	<div class="clear"></div>

	<div>
		<h4>目录</h4>
		<ol>
			<li><a href="#brandProfile">品牌简介</a></li>
			<li><a href="#brandInterpretation">品牌释义</a></li>
			<li><a href="#brandConcept">品牌理念</a></li>
			<li><a href="#brandVision">品牌愿景</a></li>
			<li><a href="#trademarkInformation">商标信息</a></li>
			<li><a href="#commodityServices">商品服务</a></li>
			<li><a href="#trademarkProcess">商标流程</a></li>
		</ol>
	</div>
	<div id="brandProfile">
		<h4>品牌简介</h4>
		<span>淘宠惠品牌创建于2019年，其创始人及全国的合伙人均有宠物服务行业从业经验。
	商家有斑马宠务速运，经过淘宠惠一站式服务中心平台认证的宠物医院、美容院、养殖户，及各大航空公司等。</span>
	</div>
	<div id="brandInterpretation">
		<h4>品牌释义</h4>
		<span>淘您所想，宠您所爱，惠您所利。</span>
	</div>
	<div id="brandConcept">
		<h4>品牌理念</h4>
		<span>延续仁者爱人的精神，用更科学更人文关怀的方式引导宠物主科学养宠，让伴侣宠物走进每一位有需求的爱心人士家里。</span>
	</div>
	<div id="brandVision">
		<h4>品牌愿景</h4>
		<span>秉承匠人精神，认真研究宠物一生每个阶段需求，打磨出更适合它们开心生活的产品和服务需求，吸引更多的专业人士、爱心人士。
	让专业的从业者更方便的实现自主创业，通过技术和政策支持，实现自己的人生价值。</span>
	</div>
	<div id="trademarkInformation">
		<h4>商标信息</h4>
		<span>商标名称：</span><br />
		<span>申请/注册：</span><br />
		<span>国际分类：</span><br />
		<span>申请日期：</span><br />
		<span>申请人名称：</span><br />
	</div>
	<div id="commodityServices">
		<h4>商品服务</h4>
		<span>宠物买卖、宠物托运、宠物保险</span>
	</div>
	<div id="trademarkProcess">
		<h4>商标流程</h4>
	</div>
</body>
</html>