<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>淘宠惠-宠物托运，宠物商城，宠物婚介、宠物摄影、宠物殡葬、宠物领养、宠物美容、宠物医疗 全部都有</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- Portfolio-->
    <link href="../static/css/portfolio.css" type="text/css" rel="stylesheet" media="all">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
    <!-- header -->
        <header class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                                淘宠惠
                            </a>
                        </h1>
                    </div>
                    <div class="col-lg-9 header-bottom-wthree">
                        <div class="d-md-flex justify-content-lg-end justify-content-center header-right">
                            <ul class="social-icons">
                                
                            </ul>
                            <div class="right_nav">
                                <!--<button type="button" class="btn  wthree-link-bnr bg-transparent text-secondary"
                                    data-toggle="modal" aria-pressed="false" data-target="#exampleModal">login
                                </button>-->
                                <a style="color:black; font-size: 12px; font-family: Microsoft YaHei" href="https://consign.taochonghui.com/consign/toLoginPage">站点登录网址</a>
                            </div>
                        </div>
                        <nav class="navbar second navbar-expand-lg navbar-light">
                            <button class="navbar-toggler mx-auto mt-lg-0 mt-sm-4" type="button" data-toggle="collapse"
                                data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup1" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup1">
                                <div class="navbar-nav secondfix ml-lg-auto">
                                    <ul class="navbar-nav text-center">
                                        <li class="nav-item active  mr-lg-3">
                                            <a class="nav-link" href="index.html">首页
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item   mr-lg-3">
                                            <a class="nav-link scroll" href="#about">关于我们</a>
                                        </li>
										<li class="nav-item   mr-lg-3">
                                            <a class="nav-link scroll" href="#team">企业团队</a>
                                        </li>
										<li class="nav-item   mr-lg-3">
                                            <a class="nav-link scroll" href="#stats">加入我们</a>
                                        </li>
										<li class="nav-item   mr-lg-3">
                                            <a class="nav-link scroll" href="#portfolio">客户服务</a>
                                        </li>
                                        <li class="nav-item   mr-lg-3">
                                            <a class="nav-link" href="https://www.taochonghui.com/encyclopedias">服务百科
                                                <span class="sr-only">(current)</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <h1 style="font-size: 58px;color: #ffffff;letter-spacing: 4.1px;margin-top: 145px;font-weight: 400;">斑马宠务</h1>
                <h2 style="font-size: 30px;color: #ffffff;font-weight: 400;line-height: 1;}">-您身边的宠物旅行管家-</h2>
                <div class="d-flex justify-content-center mt-sm-5 mt-3">
                    <a href="#about" class="text-capitalize serv_link btn bg-theme  scroll">立刻体验</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about  -->
    <section class="offer-wthree py-lg-5 py-3" id="about">
        <div class="container  py-sm-5">
            <div class="title-w3ls text-center">
                <h4 class="w3pvt-title">欢迎来到淘宠惠
                </h4>
            </div>
            <div class="row head-row-home text-center">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 my-sm-4 mt-4">
                            <div class="home-grid">
                                <span class="num-title">01</span>
                                <h4 class="home-title my-3">why choose</h4>
                                <p>斑马宠务，扫码下单，信息保密，随时查看，签收付款，保险合作，就是平安</p>
                                <!--<a href="#" class="btn wthree-bnr-btn">Read more</a>-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-4">
                            <div class="home-grid">
                                <span class="num-title">02</span>
                                <h4 class="home-title my-3">what we do</h4>
                                <p>专业的，支持境内，境外，航运，航运，汽运等多种运输方式满足客户选择</p>
                                <!--<a href="#team" class="btn wthree-bnr-btn scroll">Read more</a>-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-lg-4 mb-4 mx-auto">
                            <div class="home-grid">
                                <span class="num-title">03</span>
                                <h4 class="home-title my-3">where are we</h4>
                                <p>服务网点覆盖全国34个省、自治区、直辖市，并在各县/市/区级设置了2级分拨网点</p>
                                <!--<a href="#portfolio" class="btn wthree-bnr-btn scroll">Read more</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- //about -->
    <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
    <!-- stats -->
    <section class="w3_stats py-sm-5" id="stats">
        <div class="container">
            <div class="py-lg-5 w3-stats">
                <h5 class="w3pvt-title">why we are unique? have a look.
                </h5>
                <p class="my-4 text-white">
                    国内大型宠物综合性平台，国内各大航空公司的核心空运物流服务合作伙伴，保险公司承保，终端网络覆盖全国各省、自治区、直辖市，并在各县/市/区级铺设均有终端网点，运输过程实现全跟踪，起飞落地早知道，接宠送宠可定位，实时了解爱宠地址，基于区块链技术存储建立建子档案，从宠物的源头开始，建立一套从宠物出生、疫苗、疾病等全过程链条。我们秉承客户为先的理念，不忘初心，始终致力于为客户提供更好更优质的服务！</p>
                <div class="row py-4">
                    <div class="col-lg-4 col-6">
                        <div class="counter">
                            <span class="fa fa-smile-o"></span>
                            <div class="timer count-title count-number mt-2 text-white" data-to="20000" data-speed="1500">位</div>
                            <p class="count-text text-uppercase text-white">满意顾客</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="counter">
                            <span class="fa fa-users"></span>
                            <div class="timer count-title count-number mt-2 text-white" data-to="334" data-speed="1500">个</div>
                            <p class="count-text text-uppercase text-white">覆盖网点</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6  mx-auto">
                        <div class="counter">
                            <span class="fa fa-database"></span>
                            <div class="timer count-title count-number mt-2 text-white" data-to="10" data-speed="1500">大</div>
                            <p class="count-text text-uppercase text-white">生态体系</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- services-->
    <section class="wthree-row py-sm-5 " id="services">
        <div class="container">
            <div class="py-lg-5 py-4">
                <div class="img-grid-btm text-center">
                    <h4 class="w3pvt-title">淘宠惠解决四大难题
                    </h4>
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                           
                            <ul class="img-grid-list row">
                                <li class="col-sm-3 col-6">
                                    <span class="fa fa-ravelry" aria-hidden="true"></span>
                                    <h5>价格标准<sup>1</sup></h5>
                                    <p>标准化的价格设置，让您不再当心要“杀价”</p>
                                </li>
                                <li class="col-sm-3 col-6">
                                    <span class="fa fa-language" aria-hidden="true"></span>
                                    <h5>服务保障<sup>2</sup></h5>
                                    <p>GPS定位跟踪，保险公司保价护航</p>
                                </li>
                                <li class="col-sm-3 col-6">
                                    <span class="fa fa-wpexplorer" aria-hidden="true"></span>
                                    <h5>数据安全<sup>3</sup></h5>
                                    <p>严格把控信息安全机制，为您的个人隐私"加锁"</p>
                                </li>
                                <li class="col-sm-3 col-6">
                                    <span class="fa fa-houzz" aria-hidden="true"></span>
                                    <h5>信息匹配<sup>4</sup></h5>
                                    <p>内容分发机制，自动帮您匹配"数据垃圾"</p>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //features -->
    <!-- portfolio -->
    <section class="portfolio-wthree align-w3" id="portfolio">
        <div class="container-fluid">
            <div class="title-w3ls text-center">
                <h4 class="w3pvt-title">服务清单
                </h4>
            </div>
            <div class="pb-lg-5 pb-sm-4">
                <ul class="demo row">
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g1.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物托运</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g2.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物商城</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g3.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">活体集市</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g4.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物美容</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
					<li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g4.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物医院</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g5.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物婚介</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g6.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物摄影</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
					<li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g6.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物领养</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
					<li class="col-lg-4">
                        <div class="img-grid">
                            <div class="Portfolio-grid1">
                                <img src="../static/images/g6.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <h6 class="main-title-w3pvt text-center">宠物寄存</h6>
                                <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                                    diam
                                    nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //portfolio -->
    <!-- team  -->
    <section class="pb-sm-5 py-4 team-agile" id="team">
        <div class="container py-md-5">
            <div class="title-w3ls text-center">
                <!--<span class="sub-title">add your caption here</span>-->
                <h4 class="w3pvt-title">我们的团队
                </h4>
            </div>
            <div class="d-flex team-agile-row pt-sm-5 pt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="box20">
                        <img src="../static/images/t2.jpg" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">willimson</h3>
                            <span class="post">Designation</span>
                        </div>
                        <ul class="icon">
                            <li>
                                <a href="#">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-link"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="box20">
                        <img src="../static/images/t3.jpg" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">Designation</span>
                        </div>
                        <ul class="icon">
                            <li>
                                <a href="#">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-link"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 mx-auto">
                    <div class="box20">
                        <img src="../static/images/t1.jpg" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">franklin</h3>
                            <span class="post">Designation</span>
                        </div>
                        <ul class="icon">
                            <li>
                                <a href="#">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-link"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!-- //contact -->
    <!-- footer top -->
    <div class="footer-top py-lg-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <div class="social-icons">
                        <h5 class="footer-top-title">帮助中心</h5>
						<ul class="d-flex flex-column">
						    <li>
								<p class="d-inline text-white">
									站点加盟
								</p>
							</li>
							<li>
								<p class="d-inline text-white">
									常见问题
								</p>
							</li>
							<li>
								<p class="d-inline text-white">
									用户手册
								</p>
							</li>
						</ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="footer-top-title">应用下载</h5>
                    <ul class="d-flex flex-column">
                        <li>
                            <p class="d-inline text-white">
                                ios
                            </p>
                        </li>
                        <li>
                            <p class="d-inline text-white">
                                android
                            </p>
                        </li>
                        <li>
                            <p class="d-inline text-white">
                                微信小程序
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="footer-top-title">联系我们</h5>
                    <ul class="d-flex flex-column">
                        <li>
                            <p class="fa fa-phone mr-3 text-white">服务热线</p>
                            <p class="d-inline text-white">400 777 8889</p>
                        </li>
						<li>
                            <p class="d-inline text-white">全国分公司:   北京   上海   深圳   南昌   西安   沈阳   石家庄   成都   天津   银川.....</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer top -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cpy-center text-lg-center text-center">
                    <p>Copyright &copy; 2019.Company name All rights reserved 淘宠惠河北物联网科技有限公司 翼ICP备19033340号-1</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- Login modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme2">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control border" placeholder="john mercy " name="Name" id="recipient-name"
                                required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control border" placeholder="****" name="Password" id="password"
                                required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control border text-white bg-theme" value="Login">
                        </div>

                        <div class="row sub-w3l my-3">
                            <div class="col sub-w3layouts">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-secondary">
                                    <span></span>Remember me?</label>
                            </div>
                            <div class="col forgot-w3l text-right text-secondary">
                                <a href="#" class="text-white">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center text-secondary">Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark font-weight-bold">
                                Register Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //Login modal -->
    <!-- Register modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header  bg-theme2">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control border" placeholder="john mercy " name="Name" id="recipient-rname"
                                required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control border" placeholder="username@email.com" name="Email"
                                id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control border" placeholder="****" name="Password" id="password1"
                                required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control border" placeholder="****" name="Confirm Password"
                                id="password2" required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-w3layouts">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3 text-secondary">
                                    <span></span>I Accept to the Terms & Conditions</label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme text-white" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // Register modal -->
    <!-- js -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- testimonials  Responsiveslides -->
    <script src="../static/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //testimonials  Responsiveslides -->
    <!-- Portfolio -->
    <script src="../static/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!-- //Portfolio -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <script src="../static/js/counter.js"></script>
    <!-- start-smooth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="../static/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js"></script>
</body>

</html>