<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxywkj.application.pet.dao.consign.ConsignInsureFlowMapper">
    <insert id="save">
        INSERT INTO t_consign_insure_flow (`insure_no`, `order_no`, `date_time`, `spend_amount`, `insure_amount`)
        VALUES (#{consignInsureFlow.insureNo}, #{consignInsureFlow.order.orderNo}, #{consignInsureFlow.dateTime},
                #{consignInsureFlow.spendAmount},
                #{consignInsureFlow.insureAmount});
    </insert>
</mapper>