<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxywkj.application.pet.dao.consign.ConsignOrderEvaluateMapper">
    <insert id="save">
        INSERT INTO t_consign_order_evaluate (order_no, star, date_time, evaluator, content)
        VALUES (#{consignOrderEvaluate.order.orderNo}, #{consignOrderEvaluate.star}, #{consignOrderEvaluate.dateTime},
                #{consignOrderEvaluate.evaluator}, #{consignOrderEvaluate.content});
    </insert>
</mapper>