<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxywkj.application.pet.dao.consign.ConsignOrderPriceMapper">
    <!--获取支付价格-->
    <select id="getOrderPaymentAmount" parameterType="com.jxywkj.application.pet.model.consign.Order" resultType="java.math.BigDecimal">
        SELECT payment_amount FROM t_consign_order WHERE order_no = #{order.orderNo};
    </select>
</mapper>