<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/axios.min.js"></script>
</head>
<style>
    html, body {
        height: 100%;
    }
</style>

<body>
<div id="app">
    <el-row style="margin: 20px">
        <el-col :span="24">
            <el-form :inline="true" :model="searchData">
                <el-form-item label="站点名称">
                    <el-input v-model="searchData.stationName" placeholder="站点名称"></el-input>
                </el-form-item>
                <el-form-item label="省">
                    <el-input v-model="searchData.province" placeholder="省"></el-input>
                </el-form-item>
                <el-form-item label="市">
                    <el-input v-model="searchData.city" placeholder="市"></el-input>
                </el-form-item>
                <el-form-item label="县">
                    <el-input v-model="searchData.county" placeholder="县"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadData">查询</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>


    <el-row>
        <el-col :span="24">
            <el-table
                    :data="table.data"
                    stripe
                    border
                    :header-cell-style="{'background':'#F0F0F0','text-align': 'center'}"
                    :cell-style="{'text-align': 'center'}"
                    :max-height="maxHeight"
            >
                <el-table-column
                        prop="partnerNo"
                        label="商家编号"
                >
                </el-table-column>
                <el-table-column
                        prop="partnerName"
                        label="站点名称"
                >
                </el-table-column>
                <el-table-column
                        prop="contact"
                        label="联系人">
                </el-table-column>
                <el-table-column
                        prop="phone"
                        label="联系人电话">
                </el-table-column>
                <el-table-column
                        prop="lng"
                        label="经度">
                </el-table-column>
                <el-table-column
                        prop="lat"
                        label="纬度">
                </el-table-column>
                <el-table-column
                        prop="province"
                        label="省">
                </el-table-column>
                <el-table-column
                        prop="city"
                        label="市">
                </el-table-column>
                <el-table-column
                        prop="county"
                        label="县">
                </el-table-column>
                <el-table-column
                        prop="operation"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button
                                type="danger"
                                size="mini"
                                @click="deletePartner(scope.row)">删除
                        </el-button>

                        <el-button
                                type="primary"
                                size="mini"
                                @click="toEdit(scope.row)">编辑
                        </el-button>
                    </template>
                </el-table-column>

            </el-table>
        </el-col>
    </el-row>
    <div style="margin: 0 auto;text-align: center">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handlePageChange"
                :current-page="searchData.pageIndex"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="searchData.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="table.listCount">
        </el-pagination>
    </div>

    <!-- 提示框 -->
    <el-dialog
            title="修改"
            :visible.sync="updatePartnerDialog"
            width="800px"
            center>
        <div>
            <el-form :model="partner" status-icon label-width="100px" label-position="left"
                     style="font-size: 25px">
                <el-form-item label="节点编号">
                    <el-input type="text" v-model="partner.partnerNo" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="站点名称">
                    <el-input type="text" v-model="partner.partnerName"></el-input>
                </el-form-item>
                <el-form-item label="联系人">
                    <el-input type="text" v-model="partner.contact"></el-input>
                </el-form-item>
                <el-form-item label="联系人电话">
                    <el-input v-model="partner.phone"></el-input>
                </el-form-item>
                <el-form-item label="地址">
                    <el-col :span="8">
                        <el-input v-model="partner.province" :disabled="true"></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-input v-model="partner.city" :disabled="true"></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-input v-model="partner.county" :disabled="true"></el-input>
                    </el-col>
                </el-form-item>
            </el-form>
            <div style="text-align: right">
                <el-form>
                    <el-button @click="dialog.show = false">取 消</el-button>
                    <el-button type="primary" @click="updatePartner">确 定</el-button>
                </el-form>
            </div>
        </div>
    </el-dialog>
</div>

</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- import JavaScript -->
<script src="/static/js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '2',
                mapStyle: {
                    height: window.innerHeight - 60 + 'px'
                },
                table: {
                    data: [],
                    listCount: 0,
                },
                partner: {
                    partnerNo: '',
                    partnerName: '',
                    contact: '',
                    phone: '',
                    province: '',
                    city: '',
                    county: ''
                },
                updatePartnerDialog: false,
                searchData: {
                    partnerName: '',
                    city: '',
                    province: '',
                    county: '',
                    pageIndex: 1,
                    pageSize: 10
                },
                maxHeight: 10
            }
        },
        methods: {
            loadData() {
                axios.get('/consign/partner', {params: this.searchData}
                ).then((res) => {
                    if (res.status === 200) {
                        this.table.data = res.data.root;
                        this.table.listCount = res.data.totalCount;
                    } else {
                        this.$message.error("请求失败！");
                    }
                }).catch((err) => {
                    this.$message.error("请求失败！");
                });
            },
            handleSizeChange(size) {
                this.searchData.pageSize = size;
                this.loadData();
            },
            handlePageChange(index) {
                this.searchData.pageIndex = index;
                this.loadData();
            },
            toEdit(param) {
                this.updatePartnerDialog = true;
                this.partner.partnerNo = param.partnerNo;
                this.partner.partnerName = param.partnerNo;
                this.partner.contact = param.contact;
                this.partner.phone = param.phone;
                this.partner.province = param.province;
                this.partner.city = param.city;
                this.partner.county = param.county;
            },
            updatePartner() {
                this.updatePartnerDialog = false;
                axios.post("/consign/partner", this.partner).then((res) => {
                    if (res.status === 200 && res.data.code === 200) {
                        this.$message({
                            message: '修改成功！',
                            type: 'success'
                        });
                    } else {
                        this.$message.error('修改失败！');
                    }
                    that.searchData.pageIndex = 1;
                    this.loadData();
                }).catch((err) => {
                    this.$message.error('修改失败！');
                    that.searchData.pageIndex = 1;
                    this.loadData();
                });

            },
            deletePartner(partner) {
                axios.delete('/consign/partner/' + partner.partnerNo, {}).then((e) => {
                    this.$message({
                        type: 'success',
                        message: '删除网点成功!'
                    });
                    this.searchData.pageIndex = 1;
                    this.loadData();
                });
            }
        },
        mounted() {
            this.loadData();
        },
        created() {
            this.maxHeight = document.body.clientHeight - 150;
        }
    })
</script>
</html>