.excel{ background-image:url(./icon/page_excel.png)!important;}
.qq{ background-image:url(./icon/qq.png)!important;}
.hide{ background-image:url(./icon/hide.png)!important;}
.fork{ background-image:url(./icon/fork.png)!important;}
.chart{ background-image:url(./icon/chart_bar.png)!important;}
.twitter{ background-image:url(./icon/twitter.png)!important;}
.off{ background-image:url(./icon/off.png)!important;}
.add{ background-image:url(./icon/add.png)!important;}
.next{ background-image:url(./icon/next.png)!important;}
.prev{ background-image:url(./icon/prev.png)!important;}
.unlink{ background-image:url(./icon/ruby_link.png)!important;}
.print{ background-image:url(./icon/printer.png)!important;}
.query{ background-image:url(./icon/magnifier.png)!important;}
.share{ background-image:url(./icon/extra.png)!important;}
.extra{ background-image:url(./icon/arrow_in.png)!important;}
.filter{ background-image:url(./icon/briefcase.png)!important;}
.help{ background-image:url(./icon/information.png)!important;}
.list{ background-image:url(./icon/list.png)!important;}
.control{ background-image:url(./icon/control_rewind_blue.png)!important;}
.upload{ background-image:url(./icon/upload.png)!important;}
.download{ background-image:url(./icon/download.png)!important;}
.tick{ background-image:url(./icon/tick.png)!important;}
.view{ background-image:url(./icon/application_view_tile.png)!important;}
.sitemap{ background-image:url(./icon/sitemap_color.png)!important;}
.cancel{ background-image:url(./icon/cross.png)!important;}
.delete{ background-image:url(./icon/delete.png)!important;}
.empty{ background-image:url(./icon/empty.png)!important;}
.disk{ background-image:url(./icon/disk.png)!important;}
.refresh{ background-image:url(./icon/arrow_refresh.png)!important;}
.reject{ background-image:url(./icon/arrow_rotate_anticlockwise.png)!important;}
.reset{ background-image:url(./icon/arrow_rotate_clockwise.png)!important;}
.chz{ background-image:url(./icon/reset.png)!important;}
.submit{ background-image:url(./icon/sumbit.png)!important;}
.cog{ background-image:url(./icon/cog-blue.png)!important;}
.clock{ background-image:url(./icon/clock.png)!important;}
.email{ background-image:url(./icon/email.png)!important;}
.home{ background-image:url(./icon/house.png)!important;}
.lock{ background-image:url(./icon/lock.png)!important;}
.star{ background-image:url(./icon/star.png)!important;}
.exit{ background-image:url(./icon/exit.png)!important;}
.file{ background-image:url(./icon/file.png)!important;}
.calculator{ background-image:url(./icon/calculator.png)!important;}
.phone{ background-image:url(./icon/phone.png)!important;}
.exclamation{ background-image:url(./icon/exclamation.png)!important;}
.user{ background-image:url(./icon/user.png)!important;}
.cut{ background-image:url(./icon/cut.png)!important;}
.building{ background-image:url(./icon/building.png)!important;}
.update{ background-image:url(./icon/pencil_add.png)!important;}